.timeline-container {
  background: #111;
  color: #fff;
}
.timeline .sequence {
  border-top: 2px solid #000;
  background-color: #222;
}
.timeline .parallel {
  padding-top: 2px;
}
.timeline .sequence .video {
  padding: 0 0 2px 0;
}
.timeline .sequence .video .clip {
  background-color: #009acd;
}
.timeline .sequence .audio {
  padding: 0 0 2px 0;
}
.timeline .sequence .audio .clip {
  background-color: #cdad00;
}
.timeline .composition.focused,
.timeline .composition.transitively-focused {
  background: #444;
}

.timeline .composition.focused {
  padding-top: 0;
  border-top: 2px solid #fff;
}

.timeline .clip,
.timeline .gap {
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 0 2px;
}
.timeline .clip {
  box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.2);
}
.timeline .gap {
  background-color: #666666;
  background-image: url('stripes.png');
  background-size: 25px;
  background-repeat: repeat;
  box-shadow: inset 1px 0px 1px rgba(255, 255, 255, 0.2);
}
.timeline .clip.focused,
.timeline .gap.focused {
  padding: 8px;
  border-width: 2px;
  border-color: #eee;
  border-style: solid;
}
.timeline .clip.focused {
  background-color: rgba(255, 255, 255, 0.25);
}
.timeline .gap.focused {
  background-color: #aaaaaa;
}

.library {
  background: #111;
  color: #fff;
}
.library .clip {
  padding: 10px;
}
.library .clip.focused {
  padding: 8px;
  border-width: 2px;
  border-color: #222;
  border-style: solid;
}
